*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
body {
    /*background: rgba(164, 209, 211, 0.582);*/
    background: rgba(164, 209, 211, 0.815);
   }
   .container{
    position: absolute;
    height: 100vh;
    width: 100vw;
   }
   #resetAll{
    position: absolute;
    margin-top: 50vh;
    margin-left: 85vw;
    border: 3px solid rgba(80, 81, 85, 0.548);
    font-size: x-large;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    border-radius: 20%;
    background-color: rgba(83, 125, 128, 0.288);
    color: rgb(12, 12, 12);
   }
   #resetAll:focus,
   #resetAll:hover{
    background-color: rgba(91, 105, 114, 0.466);
   }
   .image {
    position: absolute;
}
img {
    border: 3px solid black;
    padding: 7px;
    box-shadow: 5px 5px #0303033d;
    border-radius: 3%;
    position: absolute;
    top: 5vh;
    left: 35vw;
    width: 80vh;
    height: auto;
   }
   .inputa{
    position: absolute;
    margin-top: 20vh;
    margin-left: 85vw;
    border: 1px solid black;
    background-color: chartreuse; 
   

   }
   .sliders {
    position: absolute;
    float: none;
    left: 10vw;
   }
   .slide {
    width: 10vw;
   }
   .slider {
    position: relative;
    width: 30vh;
    top: 25vh;
    margin-left: -8vw;
   }
   .para{
       position: absolute;
       margin-left: 3vw;
       margin-top: 10vh;
       font-size: x-large;
       text-decoration: 1px underline;
   }
   label {
    position: relative;
    top: 21.5vh;
    font-weight: 400;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: x-large;
    margin-left: 8vw;
   }
   
   input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
   }
   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
   }
   input[type="range"]:focus {
    outline: none;
   }
   input[type="range"]::-ms-track {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
   }
   input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    cursor: pointer;
    background: rgba(79, 97, 124, 0.747);
    margin-top: 10px;
   }
   input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #577e8850;
    border: 4px solid rgba(83, 125, 131, 0.575);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
   }
   input[type="range"]::-webkit-slider-thumb:hover {
    background: #021f2be0;

}
    
   input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #fff;
   }
   input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #212121;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
   }
   input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #fff;
   }
   input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #212121;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
   }
   button,
   p{
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
   }
   button:focus {
    outline: none;
    color: black;
   }
   textarea:focus {
    outline: none;
   }
   select:focus {
    color: #000;
   }